.ipynb_checkpoints/
run/
.DS_Store/
checkpoints/
logs/
figures/
docs/
notebooks/
temp/
.ipython/
.tmp/
x86_64/
core.*
bbp-workflow/
recordings/
__pycache__/
ephys_data/
myvenv/
final.json
final_tmp.json